.sidebar {
  position: fixed;
  top: 112px;
  left: 17px;
  background: #2e4ead;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.ulListItem {
  padding-inline-start: 0;
}
